<h1>Welcome</h1>

<% if logged_in? %>
  <p>You are Logged In, <%= current_user.username %> </p>
<% end %>

<%= button_to "Login", '/login', method: :get %>
<%= button_to "Sign Up", '/customers/new', method: :get %>