<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<div class="search-results columns is-multiline">
  <%= render partial: 'orders/order',
            collection: @orders %>
</div>

<br>

<%= link_to 'New Order', new_order_path %>
