<p id="notice"><%= notice %></p>

<%= page_entries_info @products %>

<div class="search-results columns is-multiline">
  <%= render partial: 'products/product',
            collection: @products %>
</div>

<br>
<div class="box mx-6">
  <%= paginate @products %>
</div>

