<p id="notice"><%= notice %></p>

<h2 class="title m-6"><%= page_entries_info @products %></h2>

<div class="search-results columns is-multiline">
  <%= render partial: 'products/product',
            collection: @products %>
</div>

<br>
<div class="box mx-6">
  <%= paginate @products %>
</div>

